@import url('flatly.css');

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.navbar-brand {
  font-family: 'Russo One', sans-serif;
  font-size: 26px;
}

.navbar-brand:hover .no2,
.navbar-brand:active .no2,
.navbar-brand:focus .no2 {
  color: white;
} 

.no2 {
  color: #18bc9c;
}

.title {
  font-family: 'Russo One', sans-serif;
}

.phone {
  margin: 0px auto;
  background: url(/images/galaxys5.png);
  height: 774px;
  width: 421px;
  position: relative;
}

.screen {
  height: 594px;
  width: 337px;
  top: 88px;
  margin-left: 38px;
  background: #000000;
  position: absolute;
}