<section class="contacts">
  <div class="phone">
    <div class="screen">
    	<!-- Image dimensions 337x594 -->
			<img src="/images/screens/contacts.png" alt="Contacts Screen" usemap="#contacts" />

			<map name="contacts" id="contacts">
			    <area alt="Left Menu" title="Left Menu" href="#/menuleft" shape="rect" coords="8,32,61,71" />
			    <area alt="Right Menu" title="Right Menu" href="#/menuright" shape="rect" coords="276,33,328,71" />
			    
			    <area alt="Messages" title="Messages" href="#/messages" shape="rect" coords="69,539,134,593" />
			    <area alt="Recent Calls" title="Recent Calls" href="#/recentcalls" shape="rect" coords="135,539,201,593" />
			    <area alt="Dial Pad" title="Dial Pad" href="#/dialpad" shape="rect" coords="202,539,270,593" />
			    <area alt="Voicemail" title="Voicemail" href="#/voicemail" shape="rect" coords="271,539,336,593" />
			</map>
    </div>
  </div>
</section><!-- /section -->