<section class="main">
  <div class="phone">
    <div class="screen">
    	<!-- Image dimensions 337x594 -->
    	<img src="/images/screens/menuleft.png" alt="Menu Left" usemap="#menuleft" />

		<map name="menuleft" id="menuleft">
		  	<area alt="contacts" title="Back to Contacts" href="#/contacts" shape="rect" coords="290,33,336,68" />
		    <area alt="contact" title="Contacts" href="#/contacts" shape="rect" coords="0,108,280,159" />
		    <area alt="messages" title="Messages" href="#/messages" shape="rect" coords="0,160,280,209" />
		    <area alt="recents" title="Recents" href="#/recentcalls" shape="rect" coords="0,210,280,259" />
		    <area alt="keypad" title="Keypad" href="#/dialpad" shape="rect" coords="0,260,280,309" />
		    <area alt="voicemail" title="Voicemail" href="#/voicemail" shape="rect" coords="0,310,280,359" />
		    <area alt="voicemail" title="Voice Zone" href="#/voicezone" shape="rect" coords="0,360,280,409" />
		    <area alt="twc apps" title="TWC Apps" href="#/twcapps" shape="rect" coords="0,410,280,459" />
		</map>
    </div>
  </div>
</section><!-- /section -->