<section class="main">
  <div class="phone">
    <div class="screen">
    	<!-- Image dimensions 337x594 -->
    	<img src="/images/screens/menurightvm.png" alt="Voicemail Screen" usemap="#menuvm" />

		<map name="menuvm" id="menuvm">
		    <area alt="back to contacts" title="Back to Contacts" href="#/contacts" shape="rect" coords="1,35,48,70" />

		    <area alt="settings" title="Settings" href="#/prefcalloptions" shape="rect" coords="58,24,336,72" />
			<area alt="general settings" title="General Settings" href="#/menurightgen" shape="rect" coords="58,73,335,117" />
		</map>
    </div>
  </div>
</section><!-- /section -->