<section class="main">
  <div class="phone">
    <div class="screen">
    	<!-- Image dimensions 337x594 -->
    	<img src="/images/screens/menurightgen.png" alt="General Menu Screen" usemap="#menugen" />

		<map name="menugen" id="menugen">
			<area alt="back to contacts" title="Back to Contacts" href="#/contacts" shape="rect" coords="1,35,48,70" />

		    <area alt="settings" title="Settings" href="#/prefcalloptions" shape="rect" coords="58,24,336,72" />
			<area alt="minimize menu" title="Minimize menu" href="#/menuright" shape="rect" coords="58,73,335,117" />
		</map>
    </div>
  </div>
</section><!-- /section -->