<section class="main">
  <div class="phone">
    <div class="screen">
    	<!-- Image dimensions 337x594 -->
    	<img src="/images/screens/menurighthelp.png" alt="Help Menu" usemap="#menuhelp" />

			<map name="menuhelp" id="menuhelp">
			    <area alt="back to contacts" title="Back to Contacts" href="#/contacts" shape="rect" coords="1,35,48,70" />

			    <area alt="general settings" title="General Settings" href="#/menurightgen" shape="rect" coords="57,38,336,80" />
			    <area alt="voicemail settings" title=" Settings" href="#/menurightvm" shape="rect" coords="57,81,336,125" />
			    <area alt="international calling" title="International Calling" href="#/intcall" shape="rect" coords="57,126,336,250" />
			    <area alt="deactivate device" title="Deactivate Device from Phone2Go" href="#/deactivate" shape="rect" coords="57,251,336,348" />
			    <area alt="back to settings menu" title="Back to Settings Menu" href="#/menuright" shape="rect" coords="57,349,336,392" />
			</map>
    </div>
  </div>
</section><!-- /section -->