<section class="main">
  <div class="phone">
    <div class="screen">
    	<!-- Image dimensions 337x594 -->
    	<img src="/images/screens/menuright.png" alt="Menu Right" usemap="#menuright" />

		<map name="menuright" id="menuright">
			<area alt="back to contacts" title="Back to Contacts" href="#/contacts" shape="rect" coords="1,35,48,70" />
			
		    <area alt="opt in settings" title="Opt In Settings" href="#/prefcalloptions" shape="rect" coords="57,23,336,72" />
		    <area alt="general settings" title="General Settings" href="#/menurightgen" shape="rect" coords="57,73,336,117" />
		    <area alt="voicemail settings" title="Voicemail Settings" href="#/menurightvm" shape="rect" coords="57,118,336,162" />
		    <area alt="international calling" title="International Calling" href="#/intcalling" shape="rect" coords="57,163,336,287" />
		    <area alt="deactivate phone2go" title="Deactivate Device from Phone2Go" href="#/deactivate" shape="rect" coords="57,288,336,383" />
		    <area alt="" title="" href="#/menurighthelp" shape="rect" coords="57,384,336,430" />
		    <area alt="" title="" href="#/logout" shape="rect" coords="57,431,336,478" />
	    
		</map>
    </div>
  </div>
</section><!-- /section -->