<section class="main">
  <div class="phone">
    <div class="screen">
    	<!-- Image dimensions 337x594 -->
    	<img src="/images/screens/prefmessageoptions.png" alt="Message Options" usemap="#messageoptions" />

			<map name="messageoptions" id="messageoptions">
			    <area alt="call options" title="Call Options" href="#/prefcalloptions" shape="rect" coords="0,204,336,243" />
			    <area alt="contact management" title="Contact Management" href="#/prefcontactmgmt" shape="rect" coords="1,454,336,501" />
			    <area alt="Agree" title="Agree" href="#/acknowledgement" shape="rect" coords="78,528,259,569" />
			</map>
    </div>
  </div>
</section><!-- /section -->