<section class="main">
  <div class="phone">
    <div class="screen">
    	<!-- Image dimensions 337x594 -->
    	<img src="/images/screens/prefcontactmgmt.png" alt="Contact Managment" usemap="#contactmgmt" />

		<map name="contactmgmt" id="contactmgmt">
		    <area alt="call options" title="Message Options" href="#/prefmessageoptions" shape="rect" coords="1,220,336,258" />
		    <area alt="message options" title="Call Options" href="#/prefcalloptions" shape="rect" coords="1,262,334,300" />
		    <area alt="Agree" title="Agree" href="#/acknowledgement" shape="rect" coords="78,528,259,569" />
		</map>
	  </div>
  </div>
</section><!-- /section -->