<section class="main">
  <div class="phone">
    <div class="screen">
    	<!-- Image dimensions 337x594 -->
    	<img src="/images/screens/twcapps.png" alt="Voicemail Screen" usemap="#twcapp" />

		<map name="twcapp" id="twcapp">
			<area alt="Left Menu" title="Left Menu" href="#/menuleft" shape="rect" coords="8,32,61,71" />
		    <area alt="Right Menu" title="Right Menu" href="#/menuright" shape="rect" coords="276,33,328,71" />

			<area alt="TWC TV app" title="TWC TV App" href="#/twctv" shape="rect" coords="1,144,336,260" />
		    <area alt="My TWC app" title="My TWC App" href="#/mytwc" shape="rect" coords="1,261,336,372" />
		    <area alt="TWC IH" title="TWC IH App" href="#/twcih" shape="rect" coords="1,374,336,484" />
		    <area alt="TWC WiFi app" title="TWC WiFi App" href="#/twcwifi" shape="rect" coords="1,485,336,578" />
		    <area alt="see more apps" title="See more..." href="#/twcapps2" shape="rect" coords="0,579,336,594" />
		</map>
    </div>
  </div>
</section><!-- /section -->