<section class="main">
  <div class="phone">
    <div class="screen">
    	<!-- Image dimensions 337x594 -->
    	<img src="/images/screens/twcapps2.png" alt="Voicemail Screen" usemap="#twcapp2" />

			<map name="twcapp2" id="twcapp2">
				<area alt="Left Menu" title="Left Menu" href="#/menuleft" shape="rect" coords="8,32,61,71" />
		    	<area alt="Right Menu" title="Right Menu" href="#/menuright" shape="rect" coords="276,33,328,71" />

			    <area alt="back to top" title="Back to Top" href="#/twcapps" shape="rect" coords="1,143,336,169" />
			    <area alt="My TWC app" title="My TWC App" href="#/mytwc" shape="rect" coords="1,170,336,282" />
			    <area alt="TWC IH app" title="TWC IH App" href="#/twcih" shape="rect" coords="1,283,336,393" />
			    <area alt="TWC WiFi app" title="TWC WiFi App" href="#/twcwifi" shape="rect" coords="1,394,336,487" />
			    <area alt="TWC Sports app" title="TWC Sports App" href="#/twcsn" shape="rect" coords="1,488,336,593" />
			</map>
    </div>
  </div>
</section><!-- /section -->