<section class="emulator">
  <div class="phone">
    <div class="screen">
      <!-- Image dimensions 337x594 -->
      <img src="/images/screens/login.png" alt="Login Screen" usemap="#login" />
      
      <map name="login" id="login">
        <area alt="Sign in Button" title="Sign in" href="#/prefcalloptions" shape="rect" coords="197,333,324,372" />
        <area alt="Forgot Username Link" title="Forgot Username" target="_blank" href="https://registration.timewarnercable.com/username/forgot" shape="rect" coords="7,382,120,399" />
        <area alt="Forgot Password Link" title="Forgot Password" target="_blank" href="https://registration.timewarnercable.com/password/reset" shape="rect" coords="8,411,118,427" />
        <area alt="Register TWC ID Link" title="Register TWC ID" target="_blank" href="https://registration.timewarnercable.com/" shape="rect" coords="6,436,142,455" />
      </map>
    </div>
  </div>
</section><!-- /section -->