<section class="main">
  <h1 class="title">TWC Phone2Go App</h1>
  <div class="row">
    <div class="col-sm-5">
      <div class="text-center">
        <p>We made this emulator to assist Time Warner Cable agents in assisting customers through our apps to provide a better experience!</p>
        <a href="#/emulator" class="btn btn-primary btn-large">Go to Emulator</a>
        <hr />
      </div>
    </div>
    <div class="col-sm-7">
      <img class="img-responsive" src="images/maxresdefault.jpg">
    </div>
  </div>
</section><!-- /section -->

