<section class="main">
  <div class="row">
    <div class="col-sm-5">
      <div class="vert-center text-center">
        <h2 class="title">TWC Phone2Go App</h2>
        <p>We made this emulator to assist Time Warner Cable agents with helping our customers through any issues they may experience using our apps and to provide a better overall customer experience!</p>
        <a href="#/emulator" class="btn btn-primary btn-large">Go to Emulator</a>
        <hr />
      </div>
    </div>
    <div class="col-sm-7">
      <img class="img-responsive" src="images/maxresdefault.jpg">
    </div>
  </div>
</section><!-- /section -->

